<p-card *ngIf="onLoaded">
  <p-skeleton styleClass="mb-2"/>
  <p-skeleton width="10rem" styleClass="mb-2"/>
  <p-skeleton width="5rem" styleClass="mb-2"/>
  <p-skeleton height="2rem" styleClass="mb-2"/>
  <p-skeleton width="10rem" height="4rem"/>
</p-card>
<p-dataView #dv [value]="locations" emptyMessage=" ">
  <ng-template pTemplate="list" let-location>
    <div class="grid grid-nogutter">
      <div *ngFor="let item of location; let first = first" class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center p-4 gap-3"
             [ngClass]="{ 'border-top-1 surface-border': !first }">
          <div class="md:w-4rem relative mr-4">
            <img class="block xl:block mx-auto border-round w-auto"
                 src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png" [alt]="item.city"/>
          </div>
          <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
              <div>
                <div class="text-lg font-medium text-900 mt-2">{{ item.city }}</div>
                <span class="font-medium text-secondary text-sm">{{ item.weather }}</span>
              </div>
              <div class="surface-100 p-1" style="border-radius: 30px">
                <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                     style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                  <span class="text-900 font-medium text-sm">{{ item.temperature | temperature }}</span>
                </div>
              </div>
            </div>
            <div class="flex flex-column align-items-center gap-5">
              <div class="flex md:flex-row gap-2">
                <p-button icon="pi pi-eye" [outlined]="true" type="button" (click)="seeDetails(item.lat, item.lon)"/>
                <p-button icon="pi pi-heart" [outlined]="true" [severity]="item.isFavorite ? 'warning' : 'primary'"
                          type="button"
                          (click)="addFavorite(item.id)"/>
                <p-button icon="pi pi-trash" [outlined]="true" type="button" (click)="onDelete(item.id)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button pButton label="Add Localização" class="p-button-primary" style="width: 100%;"
              (click)="addLocation()"></button>
    </div>
  </ng-template>
</p-dataView>

<p-toast/>
<p-confirmDialog/>
